# =====================
# Zephyr / west
# =====================
deps/

# =====================
# Build outputs
# =====================
build/
debug/

*.elf
*.hex
*.bin
*.map

# =====================
# Neovim / Vim
# =====================
*.swp
*.swo
*.swn
*~

.nvim/
.cache/

# =====================
# Env files
# =====================
.env

